In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import json
import os

In [2]:
#DP02_0052PE: School Enrollment
#DP03_0001PE: Employment Status
#DP03_0119PE: Poverty Level
#DP05_0004PE: Sex and Age

In [3]:
url = "https://api.census.gov/data/2017/acs/acs1/profile?get=PLACE,COUNTY,STATE,GEO_ID,DP02_0052PE,DP03_0001PE,DP03_0119PE,DP05_0004PE,NAME&for=PLACE:*&key=7d2c4651d8d97999a8474d871548e666ec90f3e5"

response = requests.get(url)
response_json = response.json()

census_pd = pd.DataFrame(response_json)

census_pd.columns = census_pd.iloc[0]
census_pd = census_pd[1:]

In [4]:
census_pd["City"] = census_pd["NAME"].str.split(pat=",", expand=True)[0]
census_pd["State"] = census_pd["NAME"].str.split(pat=",", expand=True)[1]

del census_pd["NAME"]

census_pd.head()

,PLACE,COUNTY,STATE,GEO_ID,DP02_0052PE,DP03_0001PE,DP03_0119PE,DP05_0004PE,state,place,City,State
1,71550,None,15,1600000US1571550,79893,297902,8.1,-888888888,15,71550,Urban Honolulu CDP,Hawaii
2,08830,None,16,1600000US1608830,59309,184338,7.6,-888888888,16,08830,Boise City city,Idaho
3,52120,None,16,1600000US1652120,29216,-999999999,6.4,-888888888,16,52120,Meridian city,Idaho
4,56260,None,16,1600000US1656260,25367,71975,14.5,-888888888,16,56260,Nampa city,Idaho
5,02154,None,17,1600000US1702154,15892,62208,-999999999.0,-888888888,17,02154,Arlington Heights village,Illinois

## Create MySQL database connection

In [ ]:
engine = create_engine('mysql://root:201Kanareika8!@localhost:3306/sakila')
conn = engine.connect()