In [25]:
import pandas as pd
from sqlalchemy import create_engine
from config import mysql_pw, census_api_key
import requests
import json
import os
import gmaps
import csv

# Loading public health statistics for cities to dataframe

**Source:** Kaggle (https://www.kaggle.com/cdc/500-cities)

**Description:** This data was collected by Centers for Disease Control and Prevention, National Center for Chronic Disease Prevention and Health Promotion, Division of Population Health (2016)

**Data collection and preparation credit:** David Chen

In [14]:
csv_file = "500_Cities_CDC.csv"
old_cityhealth_data_df = pd.read_csv(csv_file)
old_cityhealth_data_df.head()

,StateAbbr,PlaceName,PlaceFIPS,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ACCESS2_AdjPrev,ACCESS2_Adj95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,SLEEP_Adj95CI,STROKE_CrudePrev,STROKE_Crude95CI,STROKE_AdjPrev,STROKE_Adj95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,TEETHLOST_AdjPrev,TEETHLOST_Adj95CI,Geolocation
0,AL,Birmingham,107000,212237,22.6,"(22.1, 23.0)",21.4,"(21.0, 21.8)",32.6,"(32.5, 32.8)",...,"(46.6, 47.0)",5.0,"( 5.0, 5.1)",5.0,"( 5.0, 5.1)",26.1,"(25.1, 27.2)",25.9,"(25.0, 26.9)","(33.52756637730, -86.7988174678)"
1,AL,Hoover,135896,81619,10.6,"(10.2, 11.1)",10.2,"( 9.7, 10.7)",26.3,"(26.0, 26.6)",...,"(34.2, 35.0)",2.3,"( 2.2, 2.3)",2.2,"( 2.1, 2.3)",9.6,"( 8.6, 10.8)",9.5,"( 8.5, 10.9)","(33.37676027290, -86.8051937568)"
2,AL,Huntsville,137000,180105,17.4,"(16.9, 17.8)",16.3,"(15.9, 16.7)",30.0,"(29.8, 30.2)",...,"(39.4, 40.0)",3.3,"( 3.3, 3.4)",3.2,"( 3.1, 3.2)",14.9,"(14.1, 15.7)",14.7,"(13.8, 15.5)","(34.69896926710, -86.6387042882)"
3,AL,Mobile,150000,195111,20.0,"(19.6, 20.4)",19.1,"(18.7, 19.5)",33.1,"(32.9, 33.2)",...,"(42.0, 42.4)",4.3,"( 4.3, 4.4)",4.1,"( 4.0, 4.1)",24.3,"(23.4, 25.3)",24.1,"(23.1, 25.0)","(30.67762486480, -88.1184482714)"
4,AL,Montgomery,151000,205764,19.7,"(19.2, 20.2)",18.5,"(18.1, 19.0)",31.0,"(30.8, 31.2)",...,"(41.0, 41.5)",4.0,"( 3.9, 4.1)",4.1,"( 4.0, 4.1)",21.2,"(20.3, 22.2)",21.2,"(20.1, 22.2)","(32.34726453330, -86.2677059552)"

In [16]:
city_health_data_df = old_cityhealth_data_df[['StateAbbr', 'PlaceName', 'PlaceFIPS', 'Geolocation','Population2010','ARTHRITIS_CrudePrev']].copy()
city_health_data_df.head()

,StateAbbr,PlaceName,PlaceFIPS,Geolocation,Population2010,ARTHRITIS_CrudePrev
0,AL,Birmingham,107000,"(33.52756637730, -86.7988174678)",212237,32.6
1,AL,Hoover,135896,"(33.37676027290, -86.8051937568)",81619,26.3
2,AL,Huntsville,137000,"(34.69896926710, -86.6387042882)",180105,30.0
3,AL,Mobile,150000,"(30.67762486480, -88.1184482714)",195111,33.1
4,AL,Montgomery,151000,"(32.34726453330, -86.2677059552)",205764,31.0

# Loading Census Data

**Source:** Census API (https://api.census.gov)

**Description:** This data was called by county FIPS to get various demographics data

**Data collection and preparation credit:** Steve Bogdan

# MsSQL DataBase Creation and Upload

**Database creation credit:** Brian E Reyes

In [18]:
connection_string = f'root:{mysql_pw}@localhost/'
engine = create_engine(f'mysql://{connection_string}')

connection = engine.connect()

In [20]:
# connection.execute('create schema City_Health_Demographics; ')

In [21]:
db_connection_string = f"root:{mysql_pw}@localhost/City_Health_Demographics"
db_engine = create_engine(f'mysql://{db_connection_string}')

In [22]:
cdc_data_df_update_column.to_sql(name='City_Health', con=db_engine, if_exists='append', index=True)

## Need census demographics

In [28]:
url = "https://api.census.gov/data/2017/acs/acs5?get=B01003_001E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B01001I_001E,B09020_001E,B15003_002E,B15003_017E,B15003_022E,B15003_023E,B15003_025E,B17001_002E,B27001_002E,B27001_030E,NAME&for=place:*&key=" + census_api_key

response = requests.get(url)
response_json = response.json()

census_df = pd.DataFrame(response_json)

census_df.columns = census_df.iloc[0]
census_df = census_df[1:]

census_df.head()

,B01003_001E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,...,B15003_017E,B15003_022E,B15003_023E,B15003_025E,B17001_002E,B27001_002E,B27001_030E,NAME,state,place
1,174,0,0,0,0,0,0,0,0,0,...,0,0,0,0,45,69,105,"Abanda CDP, Alabama",01,00100
2,2594,51,40,35,60,40,29,8,27,109,...,567,112,112,4,500,1248,1164,"Abbeville city, Alabama",01,00124
3,4404,49,67,84,46,67,0,25,65,201,...,755,283,103,38,701,2063,2326,"Adamsville city, Alabama",01,00460
4,725,15,12,38,13,5,0,24,14,29,...,171,59,38,0,246,385,340,"Addison town, Alabama",01,00484
5,318,0,5,2,0,1,6,2,2,14,...,52,5,1,0,155,139,179,"Akron town, Alabama",01,00676

In [29]:
column_names = {"B01003_001E":"total_pop", "B01001_020E":"male_65_66", "B01001_021E":"male_67_69",
                "B01001_022E":"male_70_74", "B01001_023E":"male_75_79", "B01001_024E":"male_80_84",
                "B01001_025E":"male_over_85", "B01001_044E":"female_65_66", "B01001_045E":"female_67_69",
                "B01001_046E":"female_70_74", "B01001_047E":"female_75_79", "B01001_048E":"female_80_84",
                "B01001_049E":"female_over_85", "B02001_002E":"white_pop", "B02001_003E":"black_pop",
                "B02001_004E":"native_amer_pop", "B02001_005E":"asian_pop", "B02001_006E":"pac_island_pop",
                "B02001_007E":"other_race_pop", "B01001I_001E":"hispanic_pop", "B15003_002E":"no_high_school",
                "B15003_017E":"high_school_grad", "B15003_022E":"bachelor_deg", "B15003_023E":"master_deg", 
                "B15003_025E":"doctorate_deg", "B17001_002E":"below_poverty", "B27001_002E":"male_w_health_ins",
                "B27001_030E":"female_w_health_ins", "place":"city_FIPS"}

census_df.rename(columns=column_names, 
                 inplace=True)

In [30]:
for column in census_df.iloc[:, 0:29]:
    census_df[column] = pd.to_numeric(census_df[column])
    
census_df["with_health_ins"] = census_df["male_w_health_ins"] + census_df["female_w_health_ins"]
census_df.head()

,total_pop,male_65_66,male_67_69,male_70_74,male_75_79,male_80_84,male_over_85,female_65_66,female_67_69,female_70_74,...,bachelor_deg,master_deg,doctorate_deg,below_poverty,male_w_health_ins,female_w_health_ins,NAME,state,city_FIPS,with_health_ins
1,174,0,0,0,0,0,0,0,0,0,...,0,0,0,45,69,105,"Abanda CDP, Alabama",01,00100,174
2,2594,51,40,35,60,40,29,8,27,109,...,112,112,4,500,1248,1164,"Abbeville city, Alabama",01,00124,2412
3,4404,49,67,84,46,67,0,25,65,201,...,283,103,38,701,2063,2326,"Adamsville city, Alabama",01,00460,4389
4,725,15,12,38,13,5,0,24,14,29,...,59,38,0,246,385,340,"Addison town, Alabama",01,00484,725
5,318,0,5,2,0,1,6,2,2,14,...,5,1,0,155,139,179,"Akron town, Alabama",01,00676,318

In [31]:
census_df.to_sql(name='City_Demographics', con=db_engine, if_exists='append', index=True)

C:\Anaconda\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'City_Demographics' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [32]:
# Confirm tables
db_engine.table_names()

['city_demographics', 'city_health']

In [35]:
db_engine.execute('select city_FIPS from city_demographics;').fetchall()

[('00100',),
 ('00124',),
 ('00460',),
 ('00484',),
 ('00676',),
 ('00820',),
 ('00988',),
 ('01132',),
 ('01180',),
 ('01228',),
 ('01396',),
 ('01660',),
 ('01708',),
 ('01756',),
 ('01852',),
 ('02116',),
 ('02260',),
 ('02320',),
 ('02428',),
 ('02500',),
 ('02836',),
 ('02860',),
 ('02908',),
 ('02956',),
 ('03004',),
 ('03028',),
 ('03076',),
 ('03220',),
 ('03364',),
 ('03508',),
 ('03556',),
 ('03676',),
 ('03724',),
 ('03820',),
 ('03940',),
 ('04660',),
 ('04684',),
 ('04852',),
 ('04900',),
 ('04948',),
 ('05140',),
 ('05164',),
 ('05188',),
 ('05212',),
 ('05692',),
 ('05932',),
 ('05980',),
 ('06460',),
 ('07000',),
 ('07120',),
 ('07456',),
 ('07588',),
 ('07672',),
 ('07912',),
 ('08104',),
 ('08248',),
 ('08272',),
 ('08680',),
 ('09016',),
 ('09064',),
 ('09136',),
 ('09208',),
 ('09328',),
 ('09400',),
 ('09424',),
 ('09457',),
 ('09500',),
 ('09736',),
 ('09808',),
 ('09880',),
 ('10240',),
 ('10456',),
 ('11032',),
 ('11416',),
 ('11488',),
 ('11512',),
 ('11680',),
 ('12016',),
 ('12040',),
 ('12070',),
 ('12112',),
 ('12160',),
 ('12304',),
 ('12496',),
 ('12544',),
 ('12760',),
 ('13264',),
 ('13648',),
 ('13672',),
 ('14008',),
 ('14104',),
 ('14152',),
 ('14392',),
 ('14464',),
 ('14728',),
 ('14968',),
 ('15064',),
 ('15136',),
 ('15256',),
 ('15304',),
 ('15376',),
 ('15472',),
 ('15640',),
 ('16000',),
 ('16080',),
 ('16240',),
 ('16264',),
 ('16312',),
 ('16600',),
 ('16684',),
 ('16744',),
 ('16768',),
 ('16936',),
 ('17176',),
 ('17368',),
 ('17704',),
 ('17824',),
 ('17968',),
 ('18040',),
 ('18088',),
 ('18304',),
 ('18856',),
 ('18952',),
 ('18976',),
 ('19024',),
 ('19216',),
 ('19336',),
 ('19360',),
 ('19648',),
 ('19744',),
 ('19816',),
 ('19912',),
 ('20008',),
 ('20104',),
 ('20152',),
 ('20272',),
 ('20296',),
 ('20392',),
 ('20955',),
 ('21136',),
 ('21184',),
 ('21280',),
 ('21328',),
 ('21448',),
 ('21890',),
 ('21952',),
 ('22216',),
 ('22504',),
 ('22816',),
 ('23032',),
 ('23176',),
 ('23224',),
 ('23296',),
 ('23320',),
 ('23344',),
 ('23488',),
 ('23656',),
 ('23872',),
 ('23880',),
 ('24184',),
 ('24256',),
 ('24472',),
 ('24568',),
 ('24616',),
 ('24664',),
 ('24688',),
 ('24808',),
 ('24880',),
 ('25120',),
 ('25216',),
 ('25240',),
 ('25384',),
 ('25648',),
 ('25816',),
 ('25840',),
 ('25864',),
 ('26152',),
 ('26200',),
 ('26824',),
 ('26848',),
 ('26896',),
 ('26992',),
 ('27088',),
 ('27376',),
 ('27520',),
 ('27616',),
 ('27640',),
 ('28024',),
 ('28120',),
 ('28312',),
 ('28408',),
 ('28432',),
 ('28504',),
 ('28552',),
 ('28672',),
 ('28696',),
 ('28768',),
 ('28816',),
 ('28936',),
 ('29032',),
 ('29056',),
 ('29296',),
 ('29392',),
 ('29464',),
 ('29560',),
 ('29608',),
 ('29704',),
 ('29944',),
 ('29992',),
 ('30160',),
 ('30448',),
 ('30496',),
 ('30640',),
 ('30736',),
 ('30760',),
 ('30808',),
 ('30880',),
 ('31000',),
 ('31024',),
 ('31096',),
 ('31348',),
 ('31384',),
 ('31720',),
 ('31912',),
 ('32056',),
 ('32080',),
 ('32224',),
 ('32248',),
 ('32272',),
 ('32416',),
 ('32440',),
 ('32536',),
 ('32560',),
 ('32584',),
 ('32656',),
 ('32704',),
 ('32848',),
 ('32896',),
 ('32968',),
 ('33256',),
 ('33424',),
 ('33448',),
 ('33472',),
 ('33544',),
 ('33640',),
 ('33712',),
 ('33808',),
 ('33856',),
 ('33904',),
 ('33976',),
 ('34024',),
 ('34096',),
 ('34480',),
 ('34490',),
 ('34816',),
 ('34984',),
 ('35130',),
 ('35152',),
 ('35200',),
 ('35392',),
 ('35512',),
 ('35536',),
 ('35560',),
 ('35632',),
 ('35704',),
 ('35752',),
 ('35800',),
 ('35896',),
 ('36088',),
 ('36448',),
 ('36592',),
 ('37000',),
 ('37096',),
 ('37264',),
 ('37312',),
 ('37465',),
 ('37864',),
 ('38032',),
 ('38152',),
 ('38248',),
 ('38272',),
 ('38416',),
 ('38608',),
 ('39064',),
 ('39280',),
 ('39472',),
 ('39520',),
 ('39784',),
 ('39856',),
 ('40072',),
 ('40096',),
 ('40648',),
 ('40672',),
 ('40888',),
 ('40928',),
 ('41296',),
 ('41368',),
 ('41968',),
 ('42016',),
 ('42160',),
 ('42304',),
 ('42352',),
 ('42472',),
 ('42640',),
 ('42808',),
 ('42928',),
 ('43120',),
 ('43240',),
 ('43264',),
 ('43336',),
 ('43384',),
 ('43648',),
 ('43720',),
 ('43744',),
 ('43816',),
 ('43888',),
 ('44160',),
 ('44344',),
 ('44536',),
 ('44608',),
 ('44728',),
 ('44800',),
 ('45208',),
 ('45316',),
 ('45472',),
 ('45496',),
 ('45640',),
 ('45784',),
 ('45904',),
 ('46072',),
 ('46192',),
 ('46264',),
 ('46504',),
 ('46600',),
 ('46696',),
 ('46768',),
 ('47728',),
 ('47740',),
 ('47848',),
 ('48052',),
 ('48064',),
 ('48112',),
 ('48376',),
 ('48400',),
 ('48424',),
 ('48616',),
 ('48712',),
 ('48784',),
 ('48808',),
 ('48832',),
 ('49072',),
 ('50000',),
 ('50192',),
 ('50312',),
 ('51000',),
 ('51096',),
 ('51216',),
 ('51264',),
 ('51456',),
 ('51469',),
 ('51520',),
 ('51600',),
 ('51648',),
 ('51696',),
 ('52320',),
 ('52344',),
 ('52608',),
 ('52680',),
 ('52776',),
 ('52848',),
 ('53016',),
 ('53112',),
 ('53208',),
 ('53232',),
 ('53256',),
 ('53376',),
 ('53400',),
 ('53448',),
 ('53472',),
 ('53784',),
 ('53856',),
 ('54168',),
 ('54312',),
 ('54432',),
 ('54480',),
 ('54582',),
 ('54600',),
 ('55044',),
 ('55152',),
 ('55200',),
 ('55440',),
 ('55752',),
 ('55848',),
 ('55992',),
 ('56400',),
 ('56472',),
 ('57000',),
 ('57024',),
 ('57048',),
 ('57120',),
 ('57144',),
 ('57240',),
 ('57384',),
 ('57504',),
 ('57576',),
 ('57648',),
 ('57696',),
 ('57912',),
 ('58272',),
 ('58848',),
 ('58896',),
 ('58968',),
 ('59016',),
 ('59064',),
 ('59088',),
 ('59232',),
 ('59328',),
 ('59472',),
 ('59496',),
 ('59592',),
 ('59640',),
 ('59760',),
 ('59832',),
 ('59880',),
 ('60240',),
 ('60264',),
 ('60372',),
 ('60648',),
 ('60720',),
 ('61008',),
 ('61038',),
 ('61488',),
 ('61536',),
 ('62075',),
 ('62328',),
 ('62472',),
 ('62496',),
 ('62688',),
 ('62952',),
 ('63216',),
 ('63288',),
 ('63336',),
 ('63408',),
 ('63495',),
 ('63576',),
 ('63730',),
 ('63768',),
 ('63912',),
 ('63984',),
 ('64040',),
 ('64104',),
 ('64152',),
 ('64368',),
 ('64656',),
 ('64776',),
 ('64920',),
 ('65016',),
 ('65040',),
 ('65208',),
 ('65412',),
 ('65472',),
 ('65592',),
 ('65784',),
 ('66216',),
 ('66408',),
 ('67056',),
 ('67176',),
 ('67536',),
 ('67584',),
 ('67608',),
 ('67800',),
 ('67920',),
 ('68016',),
 ('68160',),
 ('68280',),
 ('68352',),
 ('68736',),
 ('69000',),
 ('69120',),
 ('69180',),
 ('69240',),
 ('69648',),
 ('69672',),
 ('69840',),
 ('69978',),
 ('70128',),
 ('70416',),
 ('70536',),
 ('70632',),
 ('70704',),
 ('70896',),
 ('71040',),
 ('71190',),
 ('71201',),
 ('71280',),
 ('71496',),
 ('71832',),
 ('71900',),
 ('71976',),
 ('72408',),
 ('72600',),
 ('72672',),
 ('72720',),
 ('72816',),
 ('72888',),
 ('73056',),
 ('73080',),
 ('73152',),
 ('73272',),
 ('73728',),
 ('73848',),
 ('73872',),
 ('74160',),
 ('74304',),
 ('74352',),
 ('74400',),
 ('74424',),
 ('74592',),
 ('74616',),
 ('74688',),
 ('74976',),
 ('75096',),
 ('75768',),
 ('75936',),
 ('75960',),
 ('76080',),
 ('76200',),
 ('76208',),
 ('76320',),
 ('76584',),
 ('76632',),
 ('76680',),
 ('76824',),
 ('76872',),
 ('76920',),
 ('76944',),
 ('77256',),
 ('77280',),
 ('77304',),
 ('77352',),
 ('77580',),
 ('77616',),
 ('77784',),
 ('77880',),
 ('77904',),
 ('78120',),
 ('78204',),
 ('78232',),
 ('78240',),
 ('78264',),
 ('78312',),
 ('78480',),
 ('78552',),
 ('78984',),
 ('79008',),
 ('79032',),
 ('79272',),
 ('79344',),
 ('79488',),
 ('79728',),
 ('79944',),
 ('80064',),
 ('80256',),
 ('80352',),
 ('80376',),
 ('80496',),
 ('80736',),
 ('80928',),
 ('81084',),
 ('81336',),
 ('81504',),
 ('81528',),
 ('81720',),
 ('81744',),
 ('81912',),
 ('82104',),
 ('82176',),
 ('82848',),
 ('82872',),
 ('82992',),
 ('83400',),
 ('83640',),
 ('83664',),
 ('83976',),
 ('84096',),
 ('00065',),
 ('00650',),
 ('00760',),
 ('00870',),
 ('01090',),
 ('01200',),
 ('01305',),
 ('01390',),
 ('01420',),
 ('01560',),
 ('01860',),
 ('01970',),
 ('02080',),
 ('03000',),
 ('03110',),
 ('03220',),
 ('03440',),
 ('03550',),
 ('03880',),
 ('03990',),
 ('04210',),
 ('04430',),
 ('04500',),
 ('04670',),
 ('05000',),
 ('05200',),
 ('05585',),
 ('05750',),
 ('06245',),
 ('06520',),
 ('06630',),
 ('06850',),
 ('07070',),
 ('07620',),
 ('08740',),
 ('09600',),
 ('09657',),
 ('09710',),
 ('10150',),
 ('11690',),
 ('11800',),
 ('12350',),
 ('12680',),
 ('12920',),
 ('12970',),
 ('13230',),
 ('13340',),
 ('13450',),
 ('13550',),
 ('13670',),
 ('13780',),
 ('13860',),
 ('13890',),
 ('14000',),
 ('14110',),
 ('14330',),
 ('14880',),
 ('15320',),
 ('15430',),
 ('16360',),
 ('16420',),
 ('16530',),
 ('16630',),
 ('16750',),
 ('17190',),
 ('17300',),
 ('17410',),
 ('17670',),
 ('17740',),
 ('17850',),
 ('17960',),
 ('18510',),
 ('18620',),
 ('18675',),
 ('18805',),
 ('18925',),
 ('18950',),
 ('19060',),
 ('19720',),
 ('19750',),
 ('20020',),
 ('20380',),
 ('20600',),
 ('20970',),
 ('21040',),
 ('21150',),
 ('21370',),
 ('21810',),
 ('22140',),
 ('22250',),
 ('22910',),
 ('23460',),
 ('23720',),
 ('23790',),
 ('23900',),
 ('24230',),
 ('24660',),
 ('24980',),
 ('25000',),
 ('25220',),
 ('25550',),
 ('25880',),
 ('26100',),
 ('26760',),
 ('26835',),
 ('26870',),
 ('26910',),
 ('27090',),
 ('27145',),
 ('27420',),
 ('27530',),
 ('27640',),
 ('27700',),
 ('28200',),
 ('28590',),
 ('28740',),
 ('29130',),
 ('29180',),
 ('29290',),
 ('30060',),
 ('30500',),
 ('30940',),
 ('31050',),
 ('31270',),
 ('31710',),
 ('31765',),
 ('32150',),
 ('32310',),
 ('32550',),
 ('32810',),
 ('33030',),
 ('33140',),
 ('33360',),
 ('33470',),
 ('33580',),
 ('33800',),
 ('33910',),
 ('34350',),
 ('34460',),
 ('34570',),
 ('34790',),
 ('35120',),
 ('35890',),
 ('36400',),
 ('36540',),
 ('36770',),
 ('36990',),
 ('37250',),
 ('37430',),
 ('37540',),
 ('37650',),
 ('37975',),
 ('38090',),
 ('38420',),
 ('38910',),
 ('38970',),
 ('39300',),
 ('39410',),
 ('39630',),
 ('39740',),
 ('39960',),
 ('40400',),
 ('40510',),
 ('40645',),
 ('40670',),
 ('40840',),
 ('40950',),
 ('41210',),
 ('41280',),
 ('41500',),
 ('41610',),
 ('41720',),
 ('41830',),
 ('41940',),
 ('42050',),
 ('42160',),
 ('42380',),
 ('42490',),
 ('42805',),
 ('42820',),
 ('42832',),
 ('43040',),
 ('43260',),
 ('43810',),
 ('44030',),
 ('44580',),
 ('45020',),
 ('45295',),
 ('45460',),
 ('45700',),
 ('45790',),
 ('46010',),
 ('46780',),
 ('46890',),
 ('47000',),
 ('47735',),
 ('47990',),
 ('48200',),
 ('48540',),
 ('48590',),
 ('48870',),
 ('49530',),
 ('50080',),
 ('50190',),
 ('50800',),
 ('51180',),
 ('51455',),
 ('51960',),
 ('52060',),
 ('52210',),
 ('52390',),
 ('52720',),
 ('52845',),
 ('52915',),
 ('52940',),
 ('53050',),
 ('53270',),
 ('53710',),
 ('53820',),
 ('53930',),
 ('54050',),
 ('54085',),
 ('54150',),
 ('54260',),
 ('54480',),
 ('54700',),
 ('54920',),
 ('55030',),
 ('55140',),
 ('55910',),
 ('56220',),
 ('56250',),
 ('56260',),
 ('56320',),
 ('56350',),
 ('56600',),
 ('56680',),
 ('57340',),
 ('58330',),
 ('58550',),
 ('58660',),
 ('59320',),
 ('59540',),
 ('59650',),
 ('60200',),
 ('60310',),
 ('60460',),
 ('60640',),
 ('60750',),
 ('60860',),
 ('61080',),
 ('61120',),
 ('61190',),
 ('61630',),
 ('61700',),
 ('61788',),
 ('61825',),
 ('62125',),
 ('62285',),
 ('62510',),
 ('62620',),
 ('63170',),
 ('63280',),
 ('63390',),
 ('63610',),
 ('63870',),
 ('64240',),
 ('64380',),
 ('64600',),
 ('64820',),
 ('64930',),
 ('64980',),
 ('65345',),
 ('65590',),
 ('65700',),
 ('65800',),
 ('66140',),
 ('66360',),
 ('66470',),
 ('66510',),
 ('66550',),
 ('67020',),
 ('67460',),
 ('67570',),
 ('67680',),
 ('68230',),
 ('68340',),
 ('68370',),
 ('68560',),
 ('68670',),
 ('68890',),
 ('69770',),
 ('70100',),
 ('70320',),
 ('70540',),
 ('70760',),
 ('70870',),
 ('70930',),
 ('71090',),
 ('71640',),
 ('72190',),
 ('72230',),
 ('72960',),
 ('72985',),
 ('73070',),
 ('73290',),
 ('73400',),
 ('73950',),
 ('74340',),
 ('74350',),
 ('74525',),
 ('74610',),
 ('74830',),
 ('75050',),
 ('75077',),
 ('75160',),
 ('75380',),
 ('75480',),
 ('75930',),
 ('76260',),
 ('76590',),
 ('77140',),
 ('77690',),
 ('77800',),
 ('78240',),
 ('78297',),
 ('78350',),
 ('78680',),
 ('78790',),
 ('79120',),
 ('79230',),
 ('79780',),
 ('79830',),
 ('79890',),
 ('80100',),
 ('80660',),
 ('80770',),
 ('81320',),
 ('82200',),
 ('82420',),
 ('82750',),
 ('82860',),
 ('83080',),
 ('84000',),
 ('84070',),
 ('84120',),
 ('84200',),
 ('84510',),
 ('85280',),
 ('85290',),
 ('85610',),
 ('85680',),
 ('86380',),
 ('86490',),
 ('00730',),
 ('00870',),
 ('00940',),
 ('01090',),
 ('01170',),
 ('01560',),
 ('01570',),
 ('01620',),
 ('01920',),
 ('01990',),
 ('02270',),
 ('02410',),
 ('02430',),
 ('02830',),
 ('03320',),
 ('03380',),
 ('03530',),
 ('03915',),
 ('04020',),
 ('04440',),
 ('04710',),
 ('04720',),
 ('04880',),
 ('04930',),
 ('05140',),
 ('05450',),
 ('05490',),
 ('05495',),
 ('05770',),
 ('05970',),
 ('06260',),
 ('06470',),
 ('06610',),
 ('06820',),
 ('07025',),
 ('07310',),
 ('07380',),
 ('07590',),
 ('07915',),
 ('07940',),
 ('08020',),
 ('08220',),
 ('08535',),
 ('08710',),
 ('08920',),
 ('08990',),
 ('09340',),
 ('09580',),
 ('09690',),
 ('09900',),
 ('10040',),
 ('10180',),
 ('10320',),
 ('10460',),
 ('10530',),
 ('10670',),
 ('11160',),
 ('11230',),
 ('11300',),
 ('11370',),
 ('11500',),
 ...]